<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta name="viewport" http-equiv="Content-Type" />
    <meta content="charset=utf-8" />
    <meta http-equiv="content-language" content="pt-br" />
    <title>Hands-on</title>

    @Styles.Render("~/bundles/Basecss")
    @Scripts.Render("~/bundles/Basejquery")
    <script src="~/Scripts/Caso.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
